:root {
  --heading-font: "Roboto Slab";
  --paragraph-font: "Roboto";
  --dark-font-color: #112735;
  --dark-overlay-color: #000000b4;
  --light-button-color: #ffa808;
  --light-button-hover: #fbcd78;
  --mid-button-color: #d94344;
  --mid-button-hover: #fababa;
  --link-color: #1e7297;
  --input-background-color: #e8f1f4;
  --confirmation-color: #488f17;
}
