@import "./imports/variables.css";

.main {
  height: 100%;
}
.checkout-page__wrapper {
  display: flex;
  flex-direction: column;
}

.payment-info,
.delivery-options__wrapper,
.payment-method__wrapper,
.billing-address__wrapper,
.card-details__wrapper,
.discounts__wrapper,
.order-summary__wrapper {
  display: flex;
  flex-direction: column;
}

.payment-info {
  padding: 1em;
  order: 2;
}

.delivery-options__wrapper fieldset {
  display: flex;
  flex-direction: column;
}

#delivery-address-label {
  display: inline;
  font-size: 0.85em;
  margin: 10px auto;
}

form label:not(#delivery-address-label) {
  display: block;
  color: var(--link-color);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

form input,
form select {
  font-size: 1em;
  border: var(--link-color) 1px solid;
}

/*PAYMENT METHOD*/

.choose-payment {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.payment__radio-button {
  display: none;
}

.payment-method__image {
  cursor: pointer;
}

.payment__radio-button:checked + img {
  border: var(--link-color) solid 5px;
}

/*BILLING ADDRESS*/
.delivery-address-form {
  display: inline-block;
}

#delivery-address-checkbox:checked ~ .delivery-address-form {
  display: none;
}

.details__wrapper {
  margin: 10px auto;
}

.pay-now {
  justify-content: left;
  padding: 15px;
  margin: 30px 0;
}

/*ORDER SUMMARY*/
.order-summary__wrapper {
  justify-content: center;
  margin: 5%;
  padding: 5%;
  position: sticky;
  top: 150px;
  border: var(--light-button-color) solid 3px;
  background-color: #FFF;
}

.summary-image-wrapper {
  align-self: center;
  width: 200px;
}

.summary-image-wrapper img {
  width: 100%;
}

.summary-total {
  display: flex;
  justify-content: space-around;
}


#checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 1px var(--light-button-color);
  padding: 10px;
  margin: 10px auto;
}

#checkout-item .basket-item__wrapper {
  border: none;
}

.fa-trash {
  cursor: pointer;
}