/*------------------------HOME PAGE------------------------*/
@import "./imports/variables.css";
/*HERO SECTION*/

h1 {
  margin-left: 0px;
}

.hero-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  width: 100%;
}

.hero-cta {
  background-repeat: none;
  background-position: bottom;
  background-size: cover;
  display: inline-block;
}

.hero-cta a {
  min-width: 200px;
}

div.hero-cta.cta-womens,
div.hero-cta.cta-mens {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
}
.cta-womens {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("../images/activity-woman-hiking-small.jpg");
}

.cta-mens {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("../images/activity-man-hiking-small.jpg");
}

.slogan-wrapper {
  text-align: center;
}

.slogan-header {
  font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: #024059;
  font-size: 1.3em;
  text-transform: capitalize;
}

.slogan-header::before,
.slogan-header::after {
  content: "";
  background: url("../images/red-cross.png") no-repeat;
  background-size: cover;
  margin: 0.2em;
  padding: 0em 0.6em;
}

.slogan {
  width: 100%;
  margin: 50px 0;
}

/*WINTER BANNER*/

.winter-banner {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../images/activity-skiing.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20vh;
  padding: 5%;
}

.winter-banner div {
  text-align: center;
}

.winter-banner p {
  margin-bottom: 3rem;
}

/*NEW ARRIVALS AND SIGN UP*/

.new-arrivals_signup__section {
  display: flex;
  flex-direction: column;
}

.cta-new-arrivals h2,
.cta-signup h2 {
  color: var(--dark-font-color);
}

.cta-new-arrivals,
.cta-signup {
  border: 0.3rem solid var(--mid-button-color);
  padding: 30px;
  margin: 20px;
}
/*NEW ARRIVALS*/
.cta-new-arrivals__image-wrapper {
  width: 100%;
  text-align: center;
}

.cta-new-arrivals__paragraph {
  text-align: left;
}

.cta-new-arrivals__image {
  max-width: 100%;
  padding: 10px;
}

/*CTA SIGN UP*/
.cta-signup {
  border: 0.3rem solid var(--light-button-color);
}

.email-us {
  margin: 100px 0 0 0;
}

.cta-signup-wrapper {
  display: flex;
  flex-wrap: wrap;
}
