@import "./imports/variables.css";

/*SEARCH FILTERS---------------*/

.filters-container {
  display: flex;
  padding: 20px;
  order: 2;
}

.filters {
  display: inline-block;
  align-self: flex-start;
}

.filters-menu form div {
  display: flex;
  flex-direction: column;
}

.filters-menu form {
  margin: 0 20px;
}

.filters-menu p {
  color: var(--link-color);
  font-weight: bold;
  font-size: 1.3em;
}

.filters-menu label {
  margin: 5px 0;
}

.filters-menu label input {
  margin: 0 1em 0 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.filters-menu a {
  margin: 20px auto;
}

.filters-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -250px;
  top: 60px;
  bottom: 0%;
  background-color: #fff;
  z-index: 900;
  overflow-y: scroll;
  transition: left 1s;
}

.filters-menu.open {
  left: 0px;
}

#filter-menu {
  display: none;
}

.filters-menu form {
  display: inline-block;
  padding: 5px;
}

/*SORT BY*/

.filters_sortby__section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#sort-by {
  appearance: none;
  border: none;
  background: var(--input-background-color) url(../images/select-arrow.png) no-repeat;
  background-position: right;
  font-size: 1em;
  padding-right: 25px;
}

/* .select-wrapper {
    display: block;
} */

.select-wrapper label {
  text-transform: uppercase;
  display: block;
}

#sort-by option {
  background: #fff;
}

/*PRODUCT GRID*/
.view-products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 10px;
  margin: 20px;
}

/*LOAD MORE*/

.load-more__button {
  text-align: center;
  padding: 30px 0px;
}

#apply-filters {
  margin: 50px auto 50vh auto;
}

/*media queries specific to page*/

@media (min-width: 800px) {
  main {
    margin-left: 200px;
  }
}
