/*------------------------MEDIA QUERIES------------------------*/
@import "./imports/variables.css";

@media (min-width: 400px) {
  /*-------HOME-----------*/
  .hero-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 100%;
  }

  .slogan-header {
    font-size: 1.6em;
  }

  /*-------WOMENS-----------*/
  .view-products-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*------CHECKOUT----------*/
  #delivery-address-label {
    display: inline;
    font-size: 1em;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .view-products-grid {
    margin: 20px 100px;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .cta-signup {
    padding: 5px;
  }
}

@media (min-width: 600px) {
  /*GLOBAL*/

  h1 {
    font-size: 3rem;
  }

  .basket-summary__wrapper {
    display: flex;
    flex-direction: row;
  }

  .basket-items {
    top: 100px;
    right: 0px;
    background-color: #fff;
    padding: 0 2rem;
  }

  .favourites-popup {
    top: 100px;
  }

  /*HOME PAGE*/
  div.hero-cta.cta-womens,
  div.hero-cta.cta-mens {
    padding-top: 150px;
    padding-bottom: 200px;
  }

  .slogan-header {
    font-size: 2em;
  }

  .new-arrivals_signup__section {
    flex-direction: row;
    justify-content: space-around;
  }

  .new-arrivals_signup__section > * {
    margin: 50px 20px;
  }

  .winter-banner p {
    margin-bottom: 3rem;
    max-width: 60%;
  }

  /*PRODUCT GRID*/
  .view-products-grid {
    grid-template-columns: 1fr 1fr;
  }
  .order-received {
    justify-content: space-around;
    flex-direction: row;
  }
  .contact-hero {
    background: none;
    background-color: var(--dark-font-color);
    padding: 20px;
  }
  .contact-methods {
    flex-direction: row;
    background: url(../images/activity-canoeing.jpg) no-repeat center left;
    background-size: cover;
  }

  /*PRODUCT PAGES*/

  .accordian-content-tech-spec,
  .accordian-content-weather {
    grid-template-columns: 1fr 1fr;
  }

  .image-wrapper-accordian {
    grid-column-end: span 2;
  }

  .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .jacket-specs__accordian-menu {
    grid-column-start: span 2;
    margin: 0 20px;
  }

  /*CHECKOUT*/
  .checkout-page__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .payment-info {
    order: 0;
  }
}

@media (min-width: 800px) {
  /*GLOBAL*/
  body {
    padding-top: 150px;
  }

  p,
  a {
    font-size: 1.3rem;
  }

  nav {
    display: block;
    position: static;
    height: auto;
    box-shadow: none;
  }

  .nav-container {
    padding: 1em;
  }

  .search-input {
    top: 119px;
  }

  .hamburger-label {
    display: none;
  }

  nav li {
    display: inline-block;
    padding: 0px 2px;
  }

  nav li a {
    font-weight: 600;
    text-decoration: none;
    padding: 0rem;

    font-size: 1.5em;
  }

  .back-button {
    display: none;
  }

  .logo {
    max-width: 200px;
  }

  /*FOOTER*/
  footer {
    background-color: #112735;
    padding: 10px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 10px;
  }

  .footer-links {
    display: flex;
  }

  .select-wrapper {
    order: 2;
  }

  .filters-menu {
    top: 150px;
    left: 0px;
    display: flex;
    flex-direction: column;
  }

  /*HOME PAGE*/
  div.hero-cta.cta-womens,
  div.hero-cta.cta-mens {
    padding-top: 200px;
    padding-bottom: 300px;
  }

  .slogan-header {
    font-size: 3.2em;
  }

  .cta-button {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .signup-button {
    font-size: 1rem;
  }

  .hero-cta a {
    min-width: 300px;
  }

  .winter-banner {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.6)
      ),
      url("/images/activity-skiing.jpg");
    background-position: right;
    min-height: 35vh;
    padding: 5%;
  }

  /*PAYMENT*/
  .checkout-page__wrapper {
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
  }

  /*PRODUCT GRID*/
  .view-products-grid {
    margin: 20px 50px;
  }

  .interesting-products__wrapper {
    padding: 10px;
  }

  .filters {
    opacity: 0;
  }
  /*ABOUT PAGE*/

  .dark-image-overlay {
    max-width: 550px;
  }
}

@media (min-width: 960px) {
  /*GLOBAL*/

  nav li {
    padding: 0 10px;
  }

  nav li a {
    font-size: 1.75rem;
  }

  /*PRODUCT GRID*/
  .view-products-grid {
    gap: 30px;
  }

  .view-products-grid {
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    max-width: 1000px;
  }

  /*PRODUCT PAGE*/

  .content-wrapper {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .jacket-specs__accordian-menu {
    grid-column: span 1;
    margin: 0;
  }
}

@media (min-width: 1250px) {
  .email-signup__form {
    padding-right: 30%;
  }

  .view-products-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
    max-width: 1000px;
  }

  .other-interesting-items {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .view-products-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px auto;
    max-width: 1000px;
  }
}
