@import "./imports/variables.css";

main {
  min-height: 70vh;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2%;
  gap: 15px 0;
}

.product-view__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 0 5%;
}

.main-product__image {
  grid-column: 1 / 4;
}

.green-thumbnail {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  width: 100%;
}

.blue-thumbnail {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
}

.pink-thumbnail {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 100%;
}

.main-product__image {
  width: 100%;
}

.current-selection {
  border: var(--dark-font-color) 3px solid;
}

.size-selection {
  display: flex;
  justify-content: center;
}

.size {
  min-width: 2em;
  min-height: 2em;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
}

.selection-summary {
  border: var(--light-button-color) solid 3px;
  padding: 10%;
  margin: 10%;
  align-self: self-start;
}

.selection-summary div {
  margin: 0 auto;
}
.selection-summary div h2,
.selection-summary div p {
  display: inline-block;
  font-size: 1em;
}

.selection-summary a {
  font-size: 1em;
}

/*ACORDIAN MENU*/
.jacket-specs__accordian-menu {
  padding: 10px 30px;
}

.jacket-specs__accordian-menu div {
  padding: 10px 0;
}

.plus-label {
  font-size: 1.5em;
}

.fa-plus {
  font-size: 1.5em;
  margin-right: 1rem;
  padding: 3px;
  rotate: 0deg;
  transition-property: rotate, background-color;
  transition-duration: 1s, 2s;
}

#plus-icon-overview:checked ~ .accordian-content-overview,
#plus-icon-tech-spec:checked ~ .accordian-content-tech-spec,
#plus-icon-weather:checked ~ .accordian-content-weather,
#plus-icon-size:checked ~ .accordian-content-size,
#plus-icon-reviews:checked ~ .accordian-content-reviews {
  display: grid;
}

#plus-icon-overview + label,
#plus-icon-tech-spec + label,
#plus-icon-weather + label,
#plus-icon-size + label,
#plus-icon-reviews + label {
  text-transform: capitalize;
  display: block;
}

#plus-icon-overview:checked + label,
#plus-icon-tech-spec:checked + label,
#plus-icon-weather:checked + label,
#plus-icon-size:checked + label,
#plus-icon-reviews:checked + label {
  color: var(--light-button-color);
  font-family: var(--heading-font), Georgia, "Times New Roman", Times, serif;
  letter-spacing: 4px;
  font-weight: 200;
  background-color: var(--dark-font-color);
  padding-bottom: 3px;
  transition-property: rotate, background-color;
  transition-duration: 1s;
}

#plus-icon-overview:checked + label .fa-plus,
#plus-icon-tech-spec:checked + label .fa-plus,
#plus-icon-weather:checked + label .fa-plus,
#plus-icon-size:checked + label .fa-plus,
#plus-icon-reviews:checked + label .fa-plus {
  rotate: 45deg;
  transition-property: rotate;
  transition-duration: 1s;
}

#plus-icon-overview,
#plus-icon-tech-spec,
#plus-icon-weather,
#plus-icon-size,
#plus-icon-reviews {
  display: none;
}

.accordian-content-overview,
.accordian-content-tech-spec,
.accordian-content-weather,
.accordian-content-size,
.accordian-content-reviews {
  display: none;
  padding: 5%;
}

/*TECH SPEC TAB*/

.accordian-content-tech-spec {
  grid-template-columns: 1fr;
}

.image-wrapper-accordian {
  grid-column-end: span 1;
}

.lotus-image-accordian {
  width: 100%;
}

/*SIZE GUIDE TAB*/
.accordian-content-size {
  grid-template-columns: 1fr 2fr;
}

table {
  display: inline;
  align-self: center;
}

th,
td {
  padding-left: 20px;
}

td {
  text-transform: uppercase;
}

/*CUSTOMER REVIEWS TAB*/
.customer-review-form {
  border: solid var(--light-button-color) 3px;
}

.send-button__wrapper {
  text-align: right;
}

.customer-review-form a {
  display: inline-block;
}

#comment-box-review {
  background: var(--input-background-color);
  outline: none;
  font-size: 1em;
  font-family: var(--paragraph-font);
  width: 100%;
  margin: 0;
}

.item-number {
  position: fixed;
  display: flex;
  opacity: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--mid-button-color);
  justify-content: center;
  z-index: -20;
  transition-property: top, left;
  transition-duration: 3s;
}

.shopping-basket-container {
  position: relative;
}

.item-number p,
.basket-number p {
  color: #fff;
  font-weight: 600;
  align-self: center;
}

.basket-number {
  position: absolute;
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--mid-button-color);
  justify-content: center;
  top: -10px;
  left: 20px;
}
