/*------------------------GLOBAL STYLES------------------------*/
@import "./imports/variables.css";
* {
  box-sizing: border-box;
}

html {
  min-width: 315px;
}

body {
  font-family: var(--paragraph-font), Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;

  padding-top: 64.88px;
}

/*COLOUR FOR STYLING HELP*/
/* body * {
  border: black solid 1px;
  background: rgba(120, 0, 120, 0.2);
} */

main {
  max-width: 1500px;
  margin: 0 auto;
}

h1,
h2,
h3,
nav a {
  font-family: var(--heading-font), Georgia, "Times New Roman", Times, serif;
  color: var(--dark-font-color);
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--mid-button-color);
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
}

h2,
nav a {
  font-size: 1.75rem;
}

.cta-button {
  font-size: 1rem;
}

p,
a {
  font-size: 1rem;
}

p {
  color: var(--dark-font-color);
  font-weight: 400;
}

a {
  color: var(--link-color);
  font-weight: 500;
}

.search-container input {
  border: none;
  width: 100%;
  font-size: 1em;
}

/*HEADER AND FOOTER*/
/*header*/

.logo {
  max-width: 100px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 0;
}

header {
  /* display: flex;
  align-items: center; */
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000;
  background-color: #fff;
}

nav {
  position: fixed;
  right: 0px;
  display: none;
  top: 65px;
  background-color: #fff;
  height: 100vh;
}

nav a {
  color: var(--link-color);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  padding: 0;
}

nav li {
  display: block;
  padding: 20px 40px;
}

nav a {
  text-decoration: none;
  transition-property: border-bottom;
  transition-duration: 0.2s;
}

nav a:hover,
.active {
  border-bottom: var(--link-color) 5px solid;
}

.active {
  font-weight: bold;
}

header label,
nav i {
  color: var(--dark-font-color);
  padding-right: 30px;
}

header .fas {
  color: var(--dark-font-color);
}

fieldset {
  border: none;
}

/*search bar ---------------- */
.search-input {
  display: none;
  position: fixed;
  top: 65px;
  right: 5px;
  width: 90vw;
  background-color: #fff;
  padding: 0.5rem;
  border: 0.3rem solid var(--dark-font-color);
  z-index: 2000;
}

#search-box:checked ~ .search-input {
  display: inline-block;
}

#search-box {
  display: none;
}

/*heart icon --------------------*/

.favourites-popup {
  display: none;
  position: fixed;
  top: 65px;
  right: 5px;
  background-color: #fff;
  padding: 1rem;
  border: 0.3rem solid var(--dark-font-color);
  z-index: 2000;
}

.favourites-popup a {
  display: flex;
  margin-bottom: 1rem;
}

#fav-box:checked ~ .favourites-popup {
  display: inline-block;
}

#fav-box {
  display: none;
}

/*shopping basket----------------*/

#basket-icon:checked ~ .basket-items {
  display: flex;
  flex-direction: column;
}

#basket-icon {
  display: none;
}

.basket-items {
  display: none;
  position: fixed;
  top: 50px;
  right: 0px;
  background-color: #fff;
  padding: 0 2rem;
  border: 0.5rem solid var(--light-button-color);
}

.basket-summary__wrapper {
  display: flex;
  flex-direction: column;
}

.number-items {
  grid-column-start: span 2;
}

.product-thumbnail {
  width: 100%;
}

.selection {
  justify-self: center;
  align-self: center;
}

.cta-checkout {
  margin: 10px;
  justify-self: center;
}

.cta-checkout a {
  font-size: 1rem;
}

/*hamburger menu*/

.hamburger-label {
  order: 2;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#hamburger-menu {
  display: none;
}

/*footer*/
.footer-icons__social-media {
  font-size: 2em;
}

.social-media__section {
  margin: 40px 0;
}

footer {
  background-color: var(--dark-font-color);
  padding: 10px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
}

footer a,
footer p,
.footer-signup__label,
.winter-banner h2,
.winter-banner p {
  color: #fff;
}

footer h3 {
  color: var(--light-button-color);
  text-transform: uppercase;
}

footer p {
  font-size: 1em;
}

footer ul {
  list-style-type: none;
}

.footer-links h3 {
  margin: 3rem 1rem 0.3rem 1rem;
}

.footer-links ul {
  margin: 0 1rem;
  padding: 0;
  display: inline-block;
}

.footer-links li {
  padding: 0.5rem 0;
}

.footer-links a {
  font-size: 1.125rem;
}

/*CTA BUTTON STYLING*/

.cta-button {
  background-color: var(--mid-button-color);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  min-width: 200px;
}

.button__wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.signup-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.signup-wrapper label {
  grid-column: -1/1;
  text-align: left;
  margin-bottom: 5px;
}

#signup {
  height: 42px;
  font-size: 1em;
  border: 0.3rem solid var(--light-button-color);
}

.signup-button {
  background-color: var(--light-button-color);
  font-size: 1rem;
  border: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
}

/*back button*/

.back-button__wrapper {
  display: flex;
  align-items: center;
}

.back-button::before {
  content: url(../images/back-arrow.png);
}

/*BREADCRUMB trail*/

.breadcrumb {
  display: inline;
}

.breadcrumb::after {
  content: url(../images/forward-arrow.png);
}

/*-------customer rating stars--------*/
.customer-rating {
  display: flex;
  justify-content: space-evenly;
}

.stars {
  align-self: center;
  color: var(--light-button-color);
}

/*PRODUCT CARD*/
.product-image-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 20px 3fr 1fr;
  gap: 1px;
}

.product-card-image {
  justify-self: center;
}

.selector-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  margin: 0 auto;
  z-index: 800;
}

.current-selection {
  border: 3px solid var(--dark-font-color);
}

.view-product__button-wrapper {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.circle {
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
}

.green-selector {
  background-color: #c5ea42;
}

.blue-selector {
  background-color: #68abfd;
}

.pink-selector {
  background-color: #fd8096;
}
